@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Chivo", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  padding-top: 67px;
  background-image: linear-gradient(
      rgba(18, 23, 37, 0.9),
      rgba(18, 23, 37, 0.9)
    ),
    url("./assets/mobile/image-host.jpg");
  background-repeat: repeat, no-repeat;
  background-size: cover;
}

main,
.email-wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header,
.icons {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2.6rem;
  font-weight: 300;
  line-height: 1.46;
  text-align: center;
  color: #54e6af;
  margin: 57px 0 16px;
  font-family: "Chivo", sans-serif;
}

span {
  color: #fff;
}

p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.67;
  color: #5a668a;
  text-align: center;
  margin-bottom: 33px;
}

.icons {
  gap: 23px;
  margin-bottom: 46px;
}

.spotify {
  width: 55.9px;
  height: 16.9px;
}

.apple {
  width: 45px;
  height: 17px;
}

.google {
  width: 73px;
  height: 11px;
}

.pocket {
  width: 77px;
  height: 15px;
}

input {
  border: none;
  width: 327px;
  padding: 9px 32px;
  background-color: #2c344b;
  color: white;
}

input:focus {
  outline: none;
}

.email-error {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fb3e3e;
  margin: 3px 0 0 0;
}

.hide {
  display: none;
}
button {
  all: unset;
  padding: 9px 109px;
  color: #121725;
  background-color: #54e6af;
  text-align: center;
  box-shadow: 0 25px 20px -20px rgba(84, 230, 175, 0.5);
  margin-top: 16px;
}

button,
input {
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 28px;
  line-height: 2;
}

button:hover,
button:active {
  cursor: pointer;
  background-color: #b3ffe2;
}

@media (min-width: 768px) {
  body {
    padding: 0;
    background: url("./assets/tablet/image-host.jpg"), #121725;
    background-repeat: no-repeat;
    align-items: flex-start;

    background-position:right top ;
  }

  header {
    justify-content: flex-start;
    padding: 50px 103px 152px 39px;
    max-width: 277px;
  }

  main {
    position: relative;
    align-items: flex-start;
    max-width: 671px;
    padding: 92px 39px 257px;
    margin: 0;
    background-color: #121725;

    background: url("./assets/desktop/bg-pattern-dots.svg"), #121725;
    background-repeat: no-repeat;
    background-position: bottom left 30px;
  }

  h1 {
    font-size: 4.8rem;
    line-height: 1.17;
    text-align: left;
    width: 30ch;
    margin: 0 0 35px 0;
  }

  p {
    text-align: left;
    width: 43ch;
    font-size: 1.8rem;
    line-height: 1.56;
    margin: 0;
    font-family: "Chivo";
    font-weight: 300;
  }

  .spotify {
    width: 95.9px;
    height: 28.9px;
  }

  .apple {
    width: 78px;
    height: 29px;
  }

  .google {
    width: 125px;
    height: 18px;
  }

  .pocket {
    width: 129px;
    height: 26px;
  }

  .icons {
    gap: 27px;

    margin: 160px 0 0 0;
  }

  .email {
    position: absolute;
    bottom: 350px;
  }

  .email-wrapper {
    position: relative;
  }

  input {
    width: 427px;
    padding: 14px 170px 14px 32px;
    margin: 0;
  }

  .request-button {
    padding: 9px 27px;
    position: absolute;
    right: 5px;
    top: -11px;
  }

  footer {
    padding: 128.5px;
    width: 100%;
    background-color: #121725;
  }
}

@media (min-width: 1440px) {
  body {
    padding: 0;

    background: url("./assets/desktop/bg-pattern-dots.svg"),
      url("./assets/desktop/image-host.jpg"), #121725;
    background-repeat: no-repeat;
    background-position: bottom 100px right, top 130px right;
  }
  header {
    padding: 102px 252px 113px 165px;
    max-width: 388px;
  }

  main {
    padding: 88px 58px 0 165px;
    max-width: 888px;
    background-image: none;
  }

  .email {
    bottom: 100px;
  }
}
